:root {
    --main-color-dark:#283149; 
    --color-two-dark: #404B69;
    --color-three-dark: #00818A;
    --text-color-dark: #DBEDF3;
}


body {
    background-color: var(--main-color-dark);
}

h1 {
    color: var(--text-color-dark);
    display:block;
    text-align:center;
    padding: 5%;

}

#about-text {
    color: yellow;
    padding-right: 20% ;
}

.navbar {
    background-color: var(--color-two-dark);
}

