:root {
    --main-color-dark:#283149; 
    --color-two-dark: #404B69;
    --color-three-dark: #00818A;
    --color-four-dark: #DBEDF3;
}


body {
    background-color: var(--main-color-dark);
}

h1 {
    color: var(--color-four-dark);
    text-align: center;
}

p {
    color:var(--color-four-dark);
}

.navbar {
    background-color: var(--color-two-dark);
}

button {
    background-color:var(--color-three-dark) !important;
    border-color: var(--color-three-dark) !important;
    
}