<div class="container contact" >

    <form>

     <div class="row">

         <!-- Name input -->
         <div class="col-md-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Name</label>
              </div>
        </div>
            
            <!-- Email input -->
            <div class="col-md-4">

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">email</label>
                  </div>
            </div>

            
            
            
            <!-- Message input -->
            <div class="col-md-9">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Message</label>
                  </div>
            </div>
        </div>   
        
        <!-- Default checkbox -->
        <div class="container checkybox">

            <div class="form-check d-flex mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4">
                <label class="form-check-label" for="form4Example4">
                    Check this box if you are a recruiter
                </label>
            </div>
        </div>
    
    <!-- Checkbox -->
    <div class="container checkybox">

        <div class="form-check d-flex mb-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked />
            <label class="form-check-label" for="form4Example4">
                Send me a copy of this message
            </label>
        </div>
    </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
  </form>
</div>