<section id="navbar">
    <!-- navbar -->
    <div>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
            <a href="\home" class="navbar-brand">home</a>

            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">change color theme</label>
            </div>

            <button class="fart">clicky</button>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">  
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a href="\templates\ResumeIndex.html"" class="nav-link">Resume</a>
                </li>
                <!-- <li class="nav-item">
                  <a href="\PortfolioPage\PortfolioIndex.html" class="nav-link">Portfolio</a>
                </li> -->
                <li class="nav-item">
                  <a href="\ContactPage\ContactIndex.html" class="nav-link">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
    </div>        
  </section>