    <div class="skill-container">

      <div class="skill-box skill-education">
          <i id="icons" class="fa-solid fa-graduation-cap fa-2xl"></i>
        <h2>Education</h2>
        
          <p>
            Associate's Degree in Electronics Engineering from Eastern Florida State College 
            <br> Currently pursuing Bachelor's in Computer Science from Oregon State University
          </p>
          
        </div>
        
        <div class="skills-content">
          <i class="fa-solid fa-business-time fa-2xl"></i>
          
          <h2>Experience</h2>
          <p>
            5+ years as an electronics technician in waste management, defense contracting, and semiconductor manufacturing
          </p>
        </div>
        
        
        
        <div class="skills-content">
          <i class="fa-solid fa-screwdriver-wrench fa-2xl"></i>
          
          <h2>Skills</h2>
          - Soldering (J-STD-001) <br>
          - Usage of oscilloscopes, multimeters, ammeters, environment chambers
        </div>
        
      </div>
      
    </div>
      
    </section>
    
        
    
    
    
    
    
    
    
    
    