:root {
    --main-color-dark:#222831; 
    --color-two-dark: #30475E;
    --color-three-dark: #F05454;
    --text-color-dark: #DDDDDD;
    --secondary-text-color-dark: rgb(236, 154, 86);
    --main-color-light: #F6F6F6;
    --color-two-light: #C7FFD8;
    --color-three-light: #98DED9;
    --text-color-light: #161D6F;
}


#main-header-dark {
    color: var(--text-color-dark);
    display:block;
    text-align:center;
    padding: 5%;
    font-family: "Amatic SC";

}

body {
    background-color:#222831;
}

h1 {
    color: var(--text-color-dark);
    display:block;
    text-align:center;
    padding: 5%;
    font-family: "Amatic SC";

}

.h1 {
    color: var(--text-color-dark);
    display:block;
    text-align:center;
    padding: 5%;
    font-family: "Amatic SC";

}



h2 {
    color: var(--text-color-dark);
    display:block;
    text-align:center;
    padding: 4%;
    font-family: "Montserrat";

}



#about {
    background-color:var(--main-color-dark);
    color:#98DED9;

}

#about-text {
    text-align:center;
}


#skills{
    background-color: var(--color-two-dark);
    color:#98DED9;

}

#links{
    background-color:var(--main-color-dark);
    padding:2rem;
}

.resume_button{
    display:block;
    background-color:red;
}

.contact {
    background-color: var(--main-color-dark);
}


.navbar {
    background-color: var(--color-three-dark);
    padding-top:1.5rem;
    padding-bottom:1.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1rem;
}

.navbar-brand {
    padding-left:1rem;
}


li {
    padding-left:1em;
    left: -10px;
}

li span {
    display: block;
}

.form-label {
    padding-left: -5rem;
}

.skill-box h2 {
    font-family: "Amatic SC";
    font-weight:bolder;
}

.checkybox{
    color: var(--text-color-dark);
}

#floatingTextarea {
    height:250px;
}