:root {
    --main-color-dark:#222831; 
    --color-two-dark: #30475E;
    --color-three-dark: #F05454;
    --text-color-dark: #DDDDDD;
    --secondary-text-color-dark: rgb(236, 154, 86);
    --main-color-light: #F6F6F6;
    --color-two-light: #C7FFD8;
    --color-three-light: #98DED9;
    --text-color-light: #161D6F;
}





.lightbody {
    background-color: var(--color-two-light);
    font-family: "Montserrat";
    color: var(--text-color-light);
    text-align: center;
}

.darkbody {
    background-color: var(--main-color);
    font-family: "Montserrat";
    color: var(--text-color-dark);
    text-align: center;
}

#main-header-dark {
    color: var(--text-color-dark);
    display:block;
    text-align:center;
    padding: 5%;
    font-family: "Amatic SC";

}

#main-header-light {
    color: var(--color-four-light);
    display:block;
    text-align:center;
    padding: 5%;
    font-family: "Amatic SC";

}

h1 {
    color: var(--text-color-dark);
    display:block;
    text-align:center;
    padding: 5%;
    font-family: "Amatic SC";

}

.dark-header1 {
    color: var(--text-color-dark);
    display:block;
    text-align:center;
    padding: 5%;
    font-family: "Amatic SC";

}

.light-header1{
    color: var(--text-color-light);
    display:block;
    text-align:center;
    padding: 5%;
    font-family: "Amatic SC";

}

h2 {
    color: var(--text-color-dark);
    display:block;
    text-align:center;
    padding: 5%;
    font-family: "Montserrat";

}

#about-dark {
    background-color:var(--color-two);
}

#about-light {
    background-color:var(--color-two-light);

}

#skills-dark {
    background-color:#3e5d7b;
}

#skills-light {
    background-color: var(--main-color-light);
}

#links-dark {
    background-color:var(--color-two-dark);
}
#links-light {
    background-color:var(--color-two-light);
}





.navbar-dark {
    background-color: var(--color-three-dark);
    padding-top:1.5rem;
    padding-bottom:1.5rem;
}
.navbar-light {
    background-color: var(--color-three-light);
    padding-top:1.5rem;
    padding-bottom:1.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1rem;
}

.navbar-brand {
    padding-left:1rem;
}

button {
    text-align:center;
}


li {
    padding-left:1em;
    left: -10px;
}

li span {
    display: block;
}

.form-label {
    padding-left: -5rem;
}

.skill-box h2 {
    font-family: "Amatic SC";
    font-weight:bolder;
}

.checkybox{
    color: var(--text-color-dark);
}

#floatingTextarea {
    height:250px;
}